<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
     <style>
       @media (max-width: 991.98px){}

     </style>
  </head>
  <body>
    <div class="container-sm p-3">
      <h4 class="h4">Reset password</h4>
    </div>
    <div class="container-sm p-3">
      You recently requested to reset password for your account.
      Use the button below to reset it.
      <strong>This password reset is only valid
      for the next 1 hour.</strong>
    </div>
    <div class="container container-sm">
      <a class="btn btn-success btn-lg" href="#" role="button">Reset password</a>
    </div>
  </body>
</html>
