{% extends "base_admin.html" %}

{% block title %}admin{% endblock %}

{% block main %}

<div class="container p-5">

    <div class="container p-1">
      <a class="" href="{{ url_for('.users') }}">
        <span data-feather="users"></span>
        Users
      </a>
    </div>

    <div class="container p-1">
      <a class="" href="{{ url_for('.smtpconf') }}">
        <span data-feather="mail"></span>
        SMTP server configuration
      </a>
    </div>

    <div class="container p-1">
      <a class="" href="{{ url_for('.mssqlconf') }}">
        <span data-feather="database"></span>
        MSSQL server connection
      </a>
    </div>


</div>


{% endblock %}
