{% extends "base_admin.html" %}

{% block title %}{{ _('MSSQL server') }}{% endblock %}

{% block main %}

  <div class="container">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap
                align-items-center pt-3 pb-2 mb-3">
      <div class="col mb-3 border-bottom">
        <!-- <img src="{{ url_for('static', filename='pic/email-156765.svg')}}"
              class="float-left mx-auto" style="width: 80px;" alt="email-server"> -->
        <h3 class="col h4">{{ _('MSSQL Server connection settings') }}</h3>
      </div>
    </div>
  </div>

  <div class="collapse" id="collapseEdit">
    <div class="card card-body">
    <div class="row">
      <div class="col">
          <form method="post">
            <fieldset class="form-group">
              <div class="form-row">
                <div class="form-group col-md-4">
                  <label for="MSSQLserver">{{ _('MSSQL Server') }}</label>
                  <input type="text" class="form-control" name="MSSQLserver" id="MSSQLserver" onkeyup="saveValue(this);" placeholder="db.localhost,[port]" required>
                </div>
                <div class="form-group col-4">
                  <label for="database">{{ _('Database') }}</label>
                  <input type="text" class="form-control" name="database" id="database" onkeyup="saveValue(this);" required>
                </div>

              </div>
            </fieldset>
            <fieldset class="form-group">
              <div class="row">
                <legend class="col-form-label col-md-4 pt-0">{{ _('Authentication') }}</legend>
                <div class="col-sm-4">
                    <input class="form-control" type="text" name="username" id="username" onkeyup="saveValue(this);" required>
                    <label class="form-check-label" for="username">
                      {{ _('Username') }}
                    </label>
                    <input class="form-control" type="password" name="password" id="password" required>
                    <label class="form-check-label" for="password">
                      {{ _('Password') }}
                    </label>
                </div>
              </div>
            </fieldset>

            <div class="form-row">
              <div class="col-4">
                <button type="submit" class="btn btn-secondary"
                        name="submit" value="test">
                  {{ _('Test') }}
                </button>
              </div>

              <div class="col-4">
                <button type="submit" class="btn btn-primary"
                        style="float:right" name="submit" value="save">
                  {{ _('Save') }}
                </button>
              </div>
            </div>
          </form>
        </div>
        <div class="col-4">
            <h5>{{ _('Current config:') }}</h5>
            {% if config == None %}
              <p>Not configured</p>
            {% else %}
                  <table class="table table-borderless table-small">
                    <thead>
                      {% for key in config.keys() %}
                        <th>{{ key }}</th>
                      {% endfor %}
                    </thead>
                    <tbody>
                      {% for value in config %}
                        <td>{{ value }}</td>
                      {% endfor %}
                    </tbody>
                  </table>
            {% endif %}
        </div>

      </div>
    </div>
  </div>


{% endblock %}

{% block script %}

<script type="text/javascript">
        document.getElementById("MSSQLserver").value = getSavedValue("MSSQLserver");
        document.getElementById("database").value = getSavedValue("database");
        document.getElementById("username").value = getSavedValue("username");
        $('#collapseEdit').collapse({
          toggle: true
        })
</script>

{% endblock %}
