{% extends "base_admin.html" %}

{% block title %}SMTP{% endblock %}

{% block main %}

  <div class="container">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap
                align-items-center pt-3 pb-2 mb-3">
      <div class="col  mb-3 border-bottom">
        <img src="{{ url_for('static', filename='pic/email-156765.svg')}}"
              class="float-left mx-auto" style="width: 80px;" alt="email-server">
        <h3 class="col h4">{{ _('SMTP Config') }}</h3>
      </div>
    </div>
  </div>

  <div class="collapse" id="collapseEdit">
    <div class="card card-body">
    <div class="row">
      <div class="col">
          <form method="post">
            <fieldset class="form-group">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="smtpserver">{{ _('SMTP Server') }}</label>
                  <input type="text" class="form-control" name="smtpserver"
                         id="smtpserver" onkeyup="saveValue(this);"
                         placeholder="mail.localhost" required>
                </div>
                <div class="form-group col-2">
                  <label for="port">{{ _('Port') }}</label>
                  <input type="number" class="form-control"
                         name="port" id="port" onkeyup="saveValue(this);"
                         placeholder="25" required>
                </div>

              </div>
              <div class="form-row">
                  <div class="col-md-5">SSL</div>
                  <div class="form-check col-md-3">
                    <input class="form-check-input" type="checkbox" name="ssl" id="ssl">
                    <label class="form-check-label" for="ssl">
                      {{ _('use secure connection') }}
                    </label>
                  </div>
              </div>
            </fieldset>
            <fieldset class="form-group" disabled>
              <div class="row">
                <legend class="col-form-label col-md-4 pt-0">{{ _('Authentication') }}</legend>
                <div class="col-sm-4">
                    <input class="form-control" type="text" name="username" id="username">
                    <label class="form-check-label" for="username">
                      {{ _('Username') }}
                    </label>
                    <input class="form-control" type="password" name="password" id="password">
                    <label class="form-check-label" for="password">
                      {{ _('Password') }}
                    </label>
                </div>
              </div>
            </fieldset>

            <div class="form-row">
              <div class="col-4">
                <button type="submit" class="btn btn-secondary"
                        name="submit" value="test">{{ _('Test') }}</button>
              </div>

              <div class="col-4">
                <button type="submit" class="btn btn-primary"
                        style="float:right" name="submit"
                        value="save">{{ _('Save') }}</button>
              </div>
            </div>
          </form>
        </div>
        <div class="col-4">
            <h5>{{ _('Current config:') }}</h5>
            {% if config == None %}
              <p>Not configured</p>
            {% else %}
                  <table class="table table-borderless">
                    <thead>
                      {% for key in config.keys() %}
                        <th>{{ key }}</th>
                      {% endfor %}
                    </thead>
                    <tbody>
                      {% for value in config %}
                        <td>{{ value }}</td>
                      {% endfor %}
                    </tbody>
                  </table>
            {% endif %}
        </div>

      </div>
    </div>
  </div>


{% endblock %}

{% block script %}

<script type="text/javascript">
        document.getElementById("smtpserver").value = getSavedValue("smtpserver");
        document.getElementById("port").value = getSavedValue("port");
        $('#collapseEdit').collapse({
          toggle: true
        })
</script>

{% endblock %}
