{% extends "base_admin.html" %}

{% block title %}{{ _('Users') }}{% endblock %}

{% block lang %}
  {% from 'lang_selector.html' import lang_selector with context %}
  {{ lang_selector() }}
{% endblock %}

{% block main %}
<div class="container">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap
              align-items-center pt-3 pb-2 mb-3">
    <div class="col">
      <img src="{{ url_for('static', filename='pic/account-1293744.svg')}}"
          class="float-left mx-auto" style="width: 80px;" alt="user">
      <h3>{{ _('User Accounts') }}</h3>
    </div>
    <div class="col">
      <button type="button" class="btn btn-outline-secondary" style="float:right"
                data-toggle="collapse" data-target="#collapseNewUser" aria-expanded="false"
                aria-controls="collapseNewUser">
        {{ _('New') }}
        <span data-feather="user-plus"></span>
      </button>
    </div>
  </div>

<div class="collapse" id="collapseNewUser">
  <div class="card card-body">
  <div class="row">
    <div class="col">
        <form method="post">
          <fieldset class="form-group">
            <div class="form-row">
              <div class="form-group col-md-3">
                <input type="text" name="username" class="form-control"
                       placeholder="{{ _('User Name') }}" required autocomplete="off">
                <small class="form-text text-muted">{{ _('Username') }}</small>
              </div>
              <div class="form-group col-md-3">
                <input type="password" name="password" class="form-control"
                       placeholder="{{ _('Password') }}" required autocomplete="off">
                <small class="form-text text-muted">{{ _('Password') }}</small>
              </div>

            </div>
            <div class="form-row">
              <div class="form-group col-3">
                <input type="text" name="Firstname" class="form-control"
                       placeholder="{{ _('Firstname') }}">
                <small class="form-text text-muted">{{ _('First Name') }}</small>
              </div>

              <div class="form-group col-3">
                  <input type="text" name="Lastname" class="form-control"
                         placeholder="{{ _('Lastname') }}">
                  <small class="form-text text-muted">{{ _('Last Name') }}</small>
              </div>
            </div>

            <div class="form-row">
              <div class="col-3">
                <input type="email" name="Email" class="form-control"
                       placeholder="{{ _('Email') }}">
                <small class="form-text text-muted">{{ _('Email') }}</small>
              </div>
              <div class="col-3">
                <input type="text" name="Company" class="form-control"
                       placeholder="{{ _('Company') }}">
                <small class="form-text text-muted">{{ _('Company') }}</small>
              </div>
            </div>

            <div class="form-row mt-3">
              <div class="col-3 input-group">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="Admin">{{ _('Admin') }}</label>
                </div>
                <select class="custom-select" name="Admin" id="Admin">
                  <option value="No">{{ _('No') }}</option>
                  <option value="Yes">{{ _('Yes') }}</option>
                </select>
              </div>
            </div>

          <div class="form-row">
            <div class="col-6">
              <button type="submit" class="btn btn-outline-primary" name="submit"
                      value="new" style="float:right">
                <span data-feather="user-plus"></span>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<div class="container">
{% if users %}
  <table class="table table-sm" id="usersTable">
    <thead>
      {% for key in users[0][:7] %}
        <th>{{ key|title }}</th>
      {% endfor %}
      <th></th>
    </thead>
    <tbody>
      {% for row in users[1:] %}
        {% if row[6] == 'disabled' %}
          <tr class="table-danger" id="{{ row[7] }}">
        {% else %}
          <tr id="{{ row[7] }}">
        {% endif %}
          {% for user in row[:7] %}
            {% if not user %}
              <td></td>
            {% else %}
              <td>{{ user }}</td>
            {% endif %}
          {% endfor %}
          <td>
            {# button edit #}
            <div class="dropdown">
              <button type="button"
                      class="btn btn-outline-secondary btn-sm dropdown-toggle"
                      id="dropdownMenu2"
                      data-toggle="dropdown" aria-expanded="false">
                <span data-feather="edit"></span>
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <button class="dropdown-item" type="button"
                        onclick="userEdit({{ row[7] }});"
                        data-toggle="collapse" data-target="#collapseEdit"
                        aria-expanded="false" aria-controls="collapseEdit">
                    {{ _('Edit') }}
                </button>
                <button class="dropdown-item" type="button"
                        data-toggle="modal" data-target="#modalPass"
                        onclick="fillHidden_disp({{ row[7] }})">
                    {{ _('Reset password') }}
                </button>
              </div>
            </div>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endif %}
</div>

<div class="collapse" id="collapseEdit">
  <div class="card card-body">
      <form method="post">
        <div class="row p-2" id="collapseRow1">
          <div class="col-sm">
            <input type="text" name="username" class="form-control"
                   placeholder="{{ _('User Name') }}" required autocomplete="off">
            <small class="form-text text-muted">{{ _('Username') }}</small>
          </div>
          <div class="col-md">
            <input type="text" name="Firstname" class="form-control"
                   placeholder="{{ _('Firstname') }}">
            <small class="form-text text-muted">{{ _('First Name') }}</small>
          </div>
          <div class="col-md">
            <input type="text" name="Lastname" class="form-control"
                   placeholder="{{ _('Lastname') }}">
            <small class="form-text text-muted">{{ _('Last Name') }}</small>
          </div>
          <div class="col-md">
            <input type="email" name="Email" class="form-control"
                   placeholder="{{ _('Email') }}">
            <small class="form-text text-muted">{{ _('Email') }}</small>
          </div>
          <div class="col-md">
            <input type="text" name="Company" class="form-control"
                   placeholder="{{ _('Company') }}">
            <small class="form-text text-muted">{{ _('Company') }}</small>
          </div>
        </div>
        <div class="row p-2" id="collapseRow2">
          <div class="col-md">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <label class="input-group-text" for="Admin">{{ _('Admin') }}</label>
              </div>
              <select class="custom-select" name="Admin" id="Admin">
                <option value="No">{{ _('No') }}</option>
                <option value="Yes">{{ _('Yes') }}</option>
              </select>
            </div>
          </div>
          <div class="col-md">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <label class="input-group-text" for="Status">{{ _('status') }}</label>
              </div>
              <select class="custom-select" name="status" id="status">
                <option value="active">{{ _('active') }}</option>
                <option value="disabled">{{ _('disabled') }}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row p-2">
          <div class="col-md">
            <button type="submit" name="submit" value="edit"
                    class="btn btn-primary btn-sm" style="float:right">
              <span data-feather="save"></span>
            </button>
          </div>
          <div class="col-sm hidden" hidden>
            <input type="hidden" id="hidden_id" name="hidden_id">
          </div>
        </div>
      </form>
  </div>
</div>

{# modal reset password #}
<div class="modal fade" id="modalPass" tabindex="-1" role="dialog"
     aria-labelledby="modalPass" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ _('Reset password') }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="post">
        <div class="modal-body">
            <p><strong>{{ _('Send user a link to reset their password?') }}</strong></p>
            <div class="col-sm hidden" hidden>
              <input type="hidden" id="hidden_id_disp" name="hidden_id_disp">
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            {{ _('Cancel') }}
          </button>
          <button type="submit" name="submit" value="reset" class="btn btn-primary">
            {{ _('Yes') }}
          </button>
        </div>
    </form>
    </div>
  </div>
</div>

<footer class="my-5 pt-5 text-muted text-center text-small">
  <p class="mb-1">&copy; 2020 CNC Corp.</p>
  <ul class="list-inline">
    <li class="list-inline-item"><a href="#">Privacy</a></li>
    <li class="list-inline-item"><a href="#">Terms</a></li>
    <li class="list-inline-item"><a href="#">Support</a></li>
  </ul>
</footer>
</div>


{% endblock %}
