{% extends "base_admin.html" %}

{% block title %}Users{% endblock %}

{% block main %}
<div class="container">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap
              align-items-center pt-3 pb-2 mb-3">
    <div class="col">
      <img src="{{ url_for('static', filename='pic/account-1293744.svg')}}"
          class="float-left mx-auto" style="width: 80px;" alt="user">
      <h3>User Accounts</h3>
    </div>
    <div class="col">
      <button type="button" class="btn btn-outline-secondary" style="float:right"
                data-toggle="collapse" data-target="#collapseNewUser" aria-expanded="false"
                aria-controls="collapseNewUser">
        New
        <span data-feather="user-plus"></span>
      </button>
    </div>
  </div>
</div>

<div class="collapse" id="collapseNewUser">
  <div class="card card-body">
  <div class="row">
    <div class="col">
        <form method="post">
          <fieldset class="form-group">
            <div class="form-row">
              <div class="form-group col-md-3">
                <input type="text" name="username" class="form-control" placeholder="User Name" required autocomplete="off">
                <small class="form-text text-muted">Username</small>
              </div>
              <div class="form-group col-md-3">
                <input type="password" name="password" class="form-control" placeholder="Password" required autocomplete="off">
                <small class="form-text text-muted">Password</small>
              </div>

            </div>
            <div class="form-row">
              <div class="form-group col-3">
                <input type="text" name="Firstname" class="form-control" placeholder="Firstname">
                <small class="form-text text-muted">First Name</small>
              </div>

              <div class="form-group col-3">
                  <input type="text" name="Lastname" class="form-control" placeholder="Lastname">
                  <small class="form-text text-muted">Last Name</small>
              </div>
            </div>

            <div class="form-row">
              <div class="col-3">
                <input type="email" name="Email" class="form-control" placeholder="Email">
                <small class="form-text text-muted">Email</small>
              </div>
              <div class="col-3">
                <input type="text" name="Company" class="form-control" placeholder="Company">
                <small class="form-text text-muted">Company</small>
              </div>
            </div>

            <div class="form-row">
              <div class="col-3 input-group mb-3">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="Admin">Admin</label>
                </div>
                <select class="custom-select" name="Admin" id="Admin">
                  <option value="No">No</option>
                  <option value="Yes">Yes</option>
                </select>
              </div>
            </div>

          <div class="form-row">
            <div class="col-6">
              <button type="submit" class="btn btn-outline-primary" name="submit"
                      value="new" style="float:right">
                <span data-feather="user-plus"></span>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<div class="container">

  <table class="table" id="usersTable">
    <thead>
      {% for key in users[0][:7] %}
        <th>{{ key }}</th>
      {% endfor %}
      <th></th>
    </thead>
    <tbody>
      {% for row in users[1:] %}
        {% if row[6] == 'disabled' %}
          <tr class="table-danger" id="{{ row[7] }}">
        {% else %}
          <tr id="{{ row[7] }}">
        {% endif %}
          {% for user in row[:7] %}
            {% if not user %}
              <td></td>
            {% else %}
              <td>{{ user }}</td>
            {% endif %}
          {% endfor %}
          <td>
            <button type="button" onclick="userEdit({{ row[7] }});" class="btn btn-outline-secondary btn-sm"
                      data-toggle="collapse" data-target="#collapseEdit" aria-expanded="false"
                      aria-controls="collapseEdit">
              Edit
              <span data-feather="edit"></span>
            </button>

          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

</div>

<div class="collapse" id="collapseEdit">
  <div class="card card-body">
      <form method="post">
        <div class="row" id="collapseRow1">
          <div class="col-sm">
            <input type="text" name="username" class="form-control" placeholder="User Name" required autocomplete="off">
            <small class="form-text text-muted">Username</small>
          </div>
          <div class="col-md">
            <input type="text" name="Firstname" class="form-control" placeholder="Firstname">
            <small class="form-text text-muted">First Name</small>
          </div>
          <div class="col-md">
            <input type="text" name="Lastname" class="form-control" placeholder="Lastname">
            <small class="form-text text-muted">Last Name</small>
          </div>
          <div class="col-md">
            <input type="email" name="Email" class="form-control" placeholder="Email">
            <small class="form-text text-muted">Email</small>
          </div>
          <div class="col-md">
            <input type="text" name="Company" class="form-control" placeholder="Company">
            <small class="form-text text-muted">Company</small>
          </div>
        </div>
        <div class="row" id="collapseRow2">
          <div class="col-md">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <label class="input-group-text" for="Admin">Admin</label>
              </div>
              <select class="custom-select" name="Admin" id="Admin">
                <option value="No">No</option>
                <option value="Yes">Yes</option>
              </select>
            </div>
          </div>
          <div class="col-md">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <label class="input-group-text" for="Status">status</label>
              </div>
              <select class="custom-select" name="status" id="status">
                <option value="active">active</option>
                <option value="disabled">disabled</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md">
            <button type="submit" name="submit" value="edit" class="btn btn-primary btn-sm" style="float:right">
              <span data-feather="save"></span>
            </button>
          </div>
          <div class="col-sm hidden" hidden>
            <input type="hidden" id="hidden_id" name="hidden_id">
          </div>
        </div>
      </form>
  </div>
</div>


{% endblock %}
