<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- documentation at http://getbootstrap.com/docs/4.1/, alternative themes at https://bootswatch.com/ -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">

        <!-- https://favicon.io/emoji-favicons/money-mouth-face/ -->
        <link href="/static/favicon.ico" rel="icon">

        <link href="/static/styles.css" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <script src="static/script.js"></script>

    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-light bg-light border">
        <a class="navbar-brand" href="{{ url_for('index') }}"><span>ORIONpro NG</span></a>
        <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbar" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse">
            {% if g.user %}
                <table class="navbar-nav ml-auto mt-2">
                  <thead>
                    <tr>
                      <th class="nav-item"><img src="https://eu.ui-avatars.com/api/?bold=true&name={{ g.user['username'] }}" class="rounded-circle avatar"></th>
                      <th class="nav-item">{{ g.user['username'] }}</th>
                      <th class="nav-item"><a class="nav-link" href="{{ url_for('auth.logout') }}">Log Out</a></th>
                    </tr>
                  </thead>
                </table>
            {% endif %}
        </div>
    </nav>
    <section class="content">
      <header>
        {% block header %}{% endblock %}
        {% for message in get_flashed_messages() %}
          <div class="alert alert-danger border text-center {{ category }}" role="alert">{{ message }}</div>
        {% endfor %}
      </header>
    </section>
        {% if g.user %}
        <div id="sidebar" class="nav-collapse hide-left-bar">
          <nav class="collapse bd-links" id="bd-docs-nav">
            <div class="bd-toc-item">
              <a class="bd-toc-link" href="{{ url_for('orion.index') }}">
                Reports
              </a>
            </div>
          </nav>
        </div>
      </div>

      {% endif %}
      <main id="main-content" class="merge-left" role="main">
                {% block main %}{% endblock %}
      </main>
    </div>
  </body>

</html>
