<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">

    <title>{% block title %}{% endblock %}</title>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-primary p-0">
      <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="#">
        <img src="{{ url_for('static', filename='logo.png') }}" width="50" height="30" class="d-inline-block align-top" alt="CNC Corp." loading="lazy">
        ORIONng
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('admin.index') }}">Administration
              <span class="sr-only">(current)</span>
            </a>
          </li>

          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('reports.index') }}">
              <span data-feather="bar-chart-2"></span>
              Reports
            </a>
          </li>

        </ul>

      </div>

      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="{{ url_for('auth.logout') }}">
            Sign out
            <span data-feather="log-out"></span>
          </a>
        </li>
      </ul>

    </nav>

    <!-- sidebar -->
    <div class="container-fluid">
      <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
          <div class="sidebar-sticky pt-3">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" href="{{ url_for('orion.index') }}">
                  <span data-feather="home"></span>
                  Dashboard <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('.smtpconf') }}">
                  <span data-feather="mail"></span>
                  SMTP config
                </a>
              </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('.users') }}">
                    <span data-feather="users"></span>
                    Users
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('.mssqlconf') }}">
                    <span data-feather="database"></span>
                    MSSQL config
                  </a>
                </li>
            </ul>

          </div>
        </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">

      <section class="content">
        <header>
          {% block header %}{% endblock %}
          {% for category, message in get_flashed_messages(True) %}
            <div class="alert alert-{{ category }} border text-center" role="alert">{{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
          {% endfor %}
        </header>
      </section>

      {%block main %}{% endblock %}

    </main>
  </div>
</div>



    <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
    <script src="{{ url_for('static', filename='dashboard.js') }}"></script>
    <script src="{{ url_for('static', filename='autofill.js') }}"></script>
    {% block script %}{% endblock %}

  </body>
</html>
