{% extends "base1.html" %}

{% block title %}Home{% endblock %}

{% block main %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Dashboard</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle"
            id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
      <span data-feather="calendar"></span>
      {{ period }}
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
      {% if period != 'This week' %}
        <a class="dropdown-item"
           href="{{ url_for('.index') }}"
           role="button">This week</a>
      {% endif %}

      {% if period != 'This month' %}
        <a class="dropdown-item"
           href="{{ url_for('.index', page='month') }}"
           role="button">This month</a>
      {% endif %}

      {% if period != 'This day' %}
        <a class="dropdown-item"
           href="{{ url_for('.index', page='day') }}"
           role="button">This day</a>
      {% endif %}
    </div>
  </div>
</div>

<canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>


{% endblock %}

{% block script %}
  <script type="text/javascript">

  // Graphs
  var ctx = document.getElementById('myChart')

  // Define the chart data
  var chartData = {
    labels : [{% for item in labels %}
                "{{ item }}",
              {% endfor %}],
    datasets : [{
        label: '{{ str_date }}',
        data : [{% for item in data %}
                  {{ item }},
                {% endfor %}],
        backgroundColor: 'rgba(255, 99, 132, 0.2)',
        borderColor: 'rgba(255, 99, 132, 1)',
    }]
  }

    // eslint-disable-next-line no-unused-vars
    var myChart = new Chart(ctx, {
    type: 'bar',
    data: chartData,
    options: {
      scales: {
          yAxes: [{
            {% if not tick_step %}
              display: false
            {% else %}
              ticks: {
                  beginAtZero: true,
                  stepSize: {{ tick_step }}
              }
            {% endif %}
          }]
      }
  }

  });
  </script>

{% endblock %}
